* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container {
    padding: 40px 41px;
    display: flex;
    border-radius: 20px;
    border-bottom: 1px solid lightgray;
}

.card {
    display: flex;
    align-items: center;
    gap: 99px;

}

#cardimg {
    width: 92px;
}

.card p {
    color: black;
    font-size: 20px;
}

.card {
        display: flex;
        align-items: center;
        gap: 99px;
}

.card:hover {
    background: rgba(0,0,0,0.03);
}