.container-page {
	max-width: 540px;
	width: 100%;
	border-radius: 12px;
	background-color: #2F3948;
	padding: 16px;
	color: #fff;
}

.container-page.no-selection {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.content-inputs {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 8px;
}

.info-row {
	background: #E8E3D5;
	color: #000;
	padding: 8px;
	border-radius: 8px;
}

.actions {
	display: flex;
	gap: 8px;
	margin-top: 8px;
}

.btn-cancel {
	background: #777;
	color: #fff;
	border: none;
	padding: 8px 12px;
	border-radius: 8px;
	cursor: pointer;
}

.btn-confirm {
	background: #03a87c;
	color: #fff;
	border: none;
	padding: 8px 12px;
	border-radius: 8px;
	cursor: pointer;
}

