*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

.Login{
    
    background-color: #000000;
    
}

.Login-container {
    width: 912px;
    height: 655px;
    background-color: #2F3948;
    border-radius: 20px;
}


.Login-content {
    display: flex;
    padding: 0px 55px;
    align-self: center;
    gap: 40px;
}

.Login-content p {
    font-size: 30px;
}

.Login-container img {
    width: 250px;
    height: 250px;
}

.Login-info {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-inputs input {
    width: 431px;
    height: 30px;
    border-radius: 10px;
    background-color: #050505;
    opacity: 50%;
}

.login-inputs ::placeholder {
    color: rgb(255, 255, 255);
    padding: 0px 8px;
}

.login-inputs button {
    width: 200px;
    height: 35px;
    background-color: #000000;
    color: black;
    opacity: 50%;
}

.register-line p {
    text-align: center;
    margin-top: 70px;
}

.register-line p span {
    color: aquamarine;
}