 .list-container {
   display: flex;
   flex-direction: column;
    border-radius: 20px;
    background-color: #2F3948;
    padding: 25px 118px;
    gap: 15px;
 }

 .list-info {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .list-info img {
    width: 210px;
 }

 #img2 {
    width: 30px;
 }

 .up-container-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:135px;

 }

 .up-container-list img{
   width: 100px;
 }

 .content-card-list {
   border-radius: 20px;
   background-color: #E8E3D5;
   display: flex;
   flex-direction: column;
 }