.entrada-container {
  max-width: 540px;
  width: 100%;
  border-radius: 12px;
  background-color: #2F3948;
  padding: 16px;
  color: #fff;
}

.entrada-header {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.entrada-header img {
  width: 120px;
}

.entrada-info h2 {
  margin: 0;
  font-size: 20px;
}

.entrada-form {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.entrada-form input {
  width: 100%;
  max-width: 320px;
}

.entrada-form button {
  min-width: 150px;
}
